
table {
    width: 80vw;
    margin: 2vh 0vw;
    background: white;
    box-shadow: 5px 10px 18px #888888;
}



table > thead > tr > th {
	text-align: center;
    font-size: 1.8vw;
    color: black;
    border-bottom: 1px solid grey;
    padding: 2vh 0vw;

}

table > tbody > tr > td{
	font-size: 1.2vw;
	text-align: center;
	height: 1vh;
    width: 12vw;
    border-bottom: 1px solid grey;
    padding: 2vh 0vw;
}


.totalamount{
	font-size: 1.8vw;
	text-align: center;
	height: 1vh;
    width: 12vw;
    border-bottom: 1px solid grey;
    padding: 2vh 0vw;
}

.search {
    width: 50vw;
    border-radius: 20px;
    height: 3vh;
    outline: none;
    text-decoration: none;
    font-size: 1.5vw;
    color: black;
    padding: 0.5vh 1vw;
    margin: 2vh 0vw;

}

input::placeholder {
    font-size: 1.2vw;
    color: grey;
    padding: 0.5vh 1vw;

}

input {
    font-size: 1.2vw;
    text-align: center;
}


