body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.caseno {
	grid-column: 1 / 3;
	grid-row: 1;
	background-color: blue;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5vw;
	color: white;
	font-family: fantasy;
}

.flexStyling {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pet {
	grid-column: 1 / 2;
	grid-row: 2;
	color: white;
	font-size: 1.2vw;
}

.divider {
	grid-column: 2/3;
	grid-row: 2/4;
	width: 2px;
	height: 12vh;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.resp {
	grid-column: 2 / 3;
	grid-row: 2/3;
	color: white;
	font-size: 1.2vw;
}

.petName {
	grid-column: 1 / 2;
	grid-row: 3/4;
	color: white;
	font-size: 1vw;
	align-items: flex-start;
}
.respName {
	grid-column: 2 / 3;
	grid-row: 3/4;
	color: white;
	font-size: 1vw;
	align-items: flex-start;
}

/* FOR REACT-TRANSITION GROUP */

.fadeImages-appear {
	opacity: 0;
	transform: scale(0.8);
}

.fadeImages-appear.fadeImages-appear-active {
	opacity: 1;
	transform: scale(1);
	transition: opacity 1000ms ease-in-out, transform 1000ms ease-in-out;
}

